<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../assets/img/miPerfil.png" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
    <title>Linea del Tiempo</title>
</head>

<body>
    <div class="cabecera">
        <div class="nav">
            <div class="logo">
                <a href="./../index.html"><img src="./../assets/img/miPerfil.png" alt=""></a>
            </div>
            <ul>
                <li><a href="./foroDeMensajes.html">Foro de mensajes</a></li>
                <li><a href="./materialDeInteres.html">Material de interés</a></li>
                <li><a href="./lineaDelTiempo.html">Línea del Tiempo</a></li>
                <li><a href="./experiencia.html">Experiencia</a></li>
                <li><a href="./datosBibliograficos.html">Datos Bibliográficos</a></li>
            </ul>
        </div>
    </div>

</body>

</html>