<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../assets/img/miPerfil.png" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/header.css">
    <link rel="stylesheet" href="./../assets/css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <title>Material de Interes</title>
</head>

<body>
    <div class="cabecera">
        <div class="nav">
            <div class="logo">
                <a href="./../index.html"><img src="./../assets/img/miPerfil.png" alt=""></a>
            </div>
            <ul>
                <li><a href="./foroDeMensajes.html">Foro de mensajes</a></li>
                <li><a class="active" href="#">Material de interés</a></li>
                <li><a href="./lineaDelTiempo.html">Línea del Tiempo</a></li>
                <li><a href="./experiencia.html">Experiencia</a></li>
                <li><a href="./datosBibliograficos.html">Datos Bibliográficos</a></li>
                <li><a href="./../index.html">Inicio</a></li>
            </ul>
        </div>
    </div>


    <footer>
        <div class="informacion">
            <h2>Juan Sebastian Paz Gantiva| Copyright</h2>
            <!-- <img src="./assets/img/miPerfil.png" alt=""> -->
        </div>
        <hr>
        <div class="icons">
            <a href="https://www.facebook.com/">
                <box-icon width='100px' name='facebook-square' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://www.instagram.com/">
                <box-icon name='instagram' type='logo' color='#ffffff'></box-icon>
            </a>
            <a href="https://twitter.com/?lang=es">
                <box-icon name='twitter' type='logo' color='#ffffff'></box-icon>
            </a>
        </div>
    </footer>
</body>

</html>